@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display:wght@600&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
}

html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(#ddeeee, #eeeeee);
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	padding: 40px 100px;
	width: 100%;
	margin: auto;
	z-index: 10000;
	transition: 0.5s;
}

nav.sticky {
	background: #eee;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

nav h1 {
	color: #eee;
}

nav.sticky h1 {
	color: #222;
}

nav h1 span {
	color: #C60030;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	padding: 6px 15px;
	list-style-type: none;
}

ul li a {
	text-decoration: none;
	color: #eee;
}

nav.sticky ul li a {
	color: #222;
}

ul li a:hover {
	color: #C60030;
}

header {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	position: relative;
	background: url('images/img9.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
}

header h1 {
	font-family: Playfair Display;
	font-size: 35px;
	color: #ffffff;
}

header button {
	outline: none;
	cursor: pointer;
	padding: .6rem 1rem;
	color: #222;
	margin-top: 2rem;
}

header em {
	color: #ffffff;
	font-style: italic;
}

header img {
	width: 220px;
	height: 220px;
	border-radius: 100%;
}

.btn {
	margin-top: 20px;
	padding: 10px 20px;
	background: #eee;
	border-radius: 10px;
	color: #222;
	cursor: pointer;
}

.btn:hover {
	letter-spacing: 2px;
	transition: 0.5s;
}

/*section de mes compétences*/
section.section-comp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	margin: auto;
	margin-top: 5rem;
	position: relative;
}

section.section-comp table tr {
	padding: 0.5rem;
}

section.section-comp table tr td {
	padding: 1rem;
}

section.section-comp h1 {
	text-align: center;
	text-transform: uppercase;
	color: #C60030;
}


.gris{
	border:10px solid slategray;
	width:70%;
	display:inline-block;
}
.blanc{
	border:10px solid white;
	width:30%;
	display:inline-block;
}
.gris1{
	border:10px solid slategray;
	width:70%;
	display:inline-block;
}
.blanc1{
	border:10px solid white;
	width:30%;
	display:inline-block;
}
.tr1{
	text-align:center;
	padding-left:20px;
}
.gris2{
	border:10px solid slategray;
	width:50%;
	display:inline-block;
}
.blanc2{
	border:10px solid white;
	width:50%;
	display:inline-block;
}
.gris3{
	border:10px solid slategray;
	width:40%;
	display:inline-block;
}
.blanc3{
	border:10px solid white;
	width:60%;
	display:inline-block;
}
.gris4{
	width:70%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc4{
	width:30%;
	border:10px solid white;
	display:inline-block;
}
.gris5{
	width:60%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc5{
	width:40%;
	border:10px solid white;
	display: inline-block;
}
.gris6{
	width:40%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc6{
	width:60%;
	border:10px solid white;
	display:inline-block;
}
.gris7{
	width:30%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc7{
	width:70%;
	border:10px solid white;
	display:inline-block;
}
.gris8{
	width:60%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc8{
	width:40%;
	border:10px solid white;
	display:inline-block;
}
.gris9{
	width:40%;
	border:10px solid slategray;
	display:inline-block;
}
.blanc9{
	width:60%;
	border:10px solid white;
	display:inline-block;
}

.mesCompetences .container .row {
	margin-top: 10rem;
}

.mesFormations {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 70%;
	margin: auto;
	margin-top: -5rem;
}

.mesFormations .container h1{
	font-family: Playfair Display;
	color: #eee;
	text-align: center;
	margin-bottom: 4rem;
	text-transform: uppercase;
}

.mesFormations .container .text-capitalize{
	font-family: Libre Baskerville, sans-serif; 
	font-size:20px;
	color: #eee;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/*.mesFormations .container div.text-capitalize h3 {
	border-bottom: 1px solid #ffffff;
}
*/
.mesFormations .container .table {
	font-family: Libre Baskerville, sans-serif; 
	font-size:15px;
	border-collapse: collapse;
}

section#forms div.container .table tr:nth-child(2),
section#forms div.container .table tr:nth-child(4){
	background-color:#eee;
}

section#forms div.container .table tr th{
	font-family: Libre Baskerville, sans-serif;
	font-size: 20px;
}

section#forms div.container .table th, td{
	font-family: Libre Baskerville, sans-serif;
	font-size: 17px;
	border: 1px solid black;
	padding: 1rem .5rem;
}

section#forms div.container div.formation {
	display: none;/*763890240*/
}

#btnform, #btncertif {
	text-decoration: none;
	background: #eee;
	padding: 6px 12px;
	border-radius: 10px;
	color: #f16059;
}

#btnform:hover, #btncertif:hover {
	color: #C60030;
}

