body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
	background: linear-gradient(#ddeeee, #eeeeee);
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background: #eee;
}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	padding: 6px 15px;
	list-style-type: none;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

header h1 {
	margin-top: 20%;
	margin-bottom: 20%;
	color: #ffffff;
}